.row {
    padding: 20px;
}
div{
    background-color: #e7b0ee;
}

h1 {
    display: inline;
    font-family: 'Cinzel', serif;
    text-decoration-line: underline;
}
.educacion, h2 {
   
    font-family: 'Cinzel', serif;
} /*que ocupe el espacio de lo que está escrito, nada mas*/



