<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-10 offset-lg-1 align-items-center text-center text-md-start">
        <h2 class="fw-bold text-uppercase mb-4 text-center"> Experiencia </h2>
    </div>

    <div class="col-2 text-end">
        <button id="boton" type="button" class="btn btn-dark add-experiencia" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>

    <div class="col-lg-10 offset-lg-1 experiencias">
        <div class="container">
            <div class="row"  *ngFor="let Experiencia of expe">
                <div class="col-md-3 col-sm-12">
                    <h5>{{Experiencia.nombreE}}</h5>
                </div>

                <div class="col-md-7 col-sm-10">
                    <p>{{Experiencia.descripcionE}}</p>
                </div>  

                <div class="col-md-2 col-sm-2 text-end" *ngIf="isLogged">                               
                    
                        <button class="btn btn-outline-dark edit-button m-1" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    
                        <button class="btn btn-outline-dark delete-button m-1" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </div> 
                </div>
            </div>
        </div>
    </div>
</div>
