<div class="row">
   <h1>Proyectos realizados</h1>
   <div class="col-lg-2">
       <button type="button" class="btn btn-dark" routerLink="/newproy" *ngIf="isLogged">
        <i class="bi bi-plus-lg"></i>
       </button>
   </div>

   <div class="col lg 1"></div>
   <div class="col-lg-11">
       <table class="table">
           <tbody>
               <tr *ngFor="let proyecto of proy">
                   <td>
                       <h2>{{proyecto.nombrePro}}</h2>
                   </td>
                   <td>{{proyecto.descripcionPro}}</td>
                   <td *ngIf="isLogged">
                       <button class="btn btn-outline-dark"  routerLink="/editpro/{{proyecto.id}}">
                           <i class="bi bi-pencil-fill"></i> EDITAR</button>
                   </td>
                   <td *ngIf="isLogged">
                       <button class="btn btn-outline-dark"  (click)="delete(proyecto.id)">
                           <i class="bi bi-trash-fill"></i> BORRAR</button>
                   </td>
               </tr>
           </tbody>
       </table>
   </div>

</div>
