.container-fluid{
    padding-top: 1rem;
    background-color: #e7b0ee;
}

.row {
    padding: 20px;
    position: relative;
}


h2:before{
    content: '';
    position: absolute;
    border-top: solid #373a3a 2px;
    height: 1em;
    top: 30%;
    left: -13rem;
    width: 66%;
}