.row {
    padding: 40px;
}

div {
    background-color:#e7b0ee ;
    text-align: center;
}
/**Estilo de la foto de perfil**/



h1 {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    
}

#boton{
    position:absolute;
    left: 80%;
    
}

@media(max-width: 768px) {
    #fotodeperfil {
        margin-top: -20%;
    }
}

@media(max-width: 576px) {
    #edit-persona-btn{
        top: 48.5rem;
        right: 2rem;
    }
}
.img-perfil{
    border-radius: 100%;
    box-shadow: 3px 3px 50px rgb(90, 90, 90);
    margin-top: -40%;
    width: 70%;
    max-width: 200px;
}
