<div class="row">
    <h1>Perfil</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevouser" *ngIf="isLogged">
            Agregar Usuario
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <img src="{persona.imgP}" class="fotoPerfil">
        <table class="table">
            <tbody>
                <tr *ngFor="let persona of persona">
                    <td>
                        <h2>{{persona.nombreP}}</h2>
                    </td>
                    <td>
                        <h3>{{persona.tituloP}}</h3>
                    </td>
                    <td>{{persona.descP}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-dark" routerLink="/edituser/{{persona.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-dark" (click)="delete(persona.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
