<div class="row">
    <div class="container">
        <div class="logo">
            
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/lucianayovino/"><img src="../../../assets/linkedin.png" id="Linkedin"></a>
                <a href="https://www.instagram.com/lucianayovino"><img src="../../../assets/instagram.png" aid="Instagram"></a>
                <a href="https://www.github.com/LucianaYovino22"><img src="../../../assets/github.png" id="Github"></a>
                <a href="https://www.facebook.com/LucianaYovino/"><img src="../../../assets/facebook.png" id="Facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>   
        </div>
    </div>
</div>

